
/* Import Bootstrap */
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  background-image: url(../images/bg.jpg);
  position: relative;

}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.top{
  height: 90px;
}
@media (max-width:768px) {
  .top{
    display: none;
  }
}
.subscribe{
  text-transform: uppercase;
  color: rgb(252,	248,	245);
  text-align: right;
  margin-top: 35px;
  font-size: 15px;
}

.icons{
  position: relative;
  text-align: right;
  padding-right: 0px;
}
.dots{
  transform: rotate(90deg);
  position: absolute;
  top: 25px;
  left: 80px;
  font-size: 23px;
  color: white;
}
@mixin icon($color) {
color: $color;
text-align: center;
height: 70px;
width: 70px;
padding-top: 10px;
}
.icons .facebook,.icons .rss,.icons .twitter,.icons .youtube{
  font-size: 50px;
}
.icons .fa-facebook{
@include icon(rgb(116,	131,	173));
background-color: rgb(68,	89,	147);
}
.icons .fa-rss{
@include icon(rgb(217,	169,	113));
background-color: rgb(206,	143,	67);
}
.icons .fa-twitter{
@include icon(rgb(143,	169,	209));
background-color: rgb(105,	142,	195);
}
.icons .fa-youtube{
@include icon(rgb(199,	104,	99));
background-color: rgb(182,	54,	49);
}

@media (max-width:768px) {
  .button-one, .button-two, .button-three, .button-four{
    width: 270px;
  }
}

@media (max-width:768px) {
  .top-nav{
      display: block;
      margin: 0 40%;
  }
}
.div-button-one{
  padding-left: 0px;
}
@media (max-width:768px) {
  .div-button-one{
    padding-left: 15px;
  }
  .div-button-two{
    margin-bottom: 10px;
  }
}
.div-button-two{
  padding-right: 0px;
}
.dash{
  font-size: 25px;
  padding-left: 20px;
  padding-right: 20px;
}
.button-one, .button-two, .button-three, .button-four {
  font-size: 15px;
  background-color: rgb(183,	39,	49);
  color: white;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0px 4px rgba(0, 0, 0, .3);
}

.banner-image{
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px rgba(0, 0, 0, .3);
}
@media (max-width: 768px) {
  .banner-image{
    display: none;
    box-shadow: 0px 0px rgba(0, 0, 0, 0);
  }
}
.logo{
  position: relative;
  top: 50px;
}
@media (max-width:768px) {
  .logo{
    font-size: 50vw;
    position: relative;
    top: 0px;
    margin: 0 10%;
  }
}
.top-image{
  background: url(../images/top-image.png) no-repeat center -150px;
  height: 337px;
}
.top-image::before{
  content: "";
  background-image: url(../images/grid.png);
  height: 337px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: .3;
}
@media (max-width:768px){
  .top-image{
    visibility: hidden;
    height: 0px;
  }
}
.articles{
  margin-bottom: 15px;
}
.article{
  background-color: white;
  font-family: 'Lucida Sans';
  width: 32%;
  height: 263px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  box-shadow: 0px 4px rgba(0, 0, 0, .3);
}
.article-two{
  margin-left: 2%;
  margin-right: 2%;
}

.article .title{
  font-size: 20px;
  line-height: 21px;
  color: rgb(54,	54,	52);
  text-align: left;
}
.article .date{
  text-align: left;
  font-size: 10px;
  color: rgb(166,	166,	166);
}
.article .section{
  font-size: 12px;
  color: rgb(88,	88,	88);
  line-height: 18px;
  margin-top: 10px;
  text-align: left;
  word-spacing: 4px;
}
.article .read-more{
  text-align: center;
  color: rgb(187,	34,	50);
  text-transform: uppercase;
}
.article-one .section{
  padding-bottom: 15px;
}
@media (max-width:768px) {
  .article{
    width: 100%;
    height: 335px;
    margin: 0px 35%;
    text-align: center;
  }
}
// @media (max-width:768px) {
//   .article-two{
//     margin: 10px 20%;
//   }
// }
@media (max-width:768px) {
  .article .read-more, .article .title, .article .date, .article .section{
    text-align: center;
  }
}
@media (max-width:768px) {
.article .section{
  font-size: 15px;
 }
}
.skateboarders{
  margin-bottom: 20px;
  margin-top: 20px;
}
.boarders{
  margin-bottom: 20px;
}
@mixin name($padding-top) {
  padding-top: $padding-top;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
.lance{
  background: url(../images/sk8er-4.png) no-repeat center center;
  height: 222px;
  border: 5px solid white;
  box-shadow: 0px 4px rgba(0, 0, 0, .3);
}
.lance h2{
  @include name(40px);
}
.rodney{
  background: url(../images/sk8er-3.png) no-repeat center center;
  height: 222px;
  border: 5px solid white;
  box-shadow: 0px 4px rgba(0, 0, 0, .3);
}
.rodney h2{
  @include name(30px);
}
.steve{
  background: url(../images/sk8er-1.png) no-repeat center center;
  height: 222px;
  border: 5px solid white;
  background-size: 100%;
  margin-top: 20px;
  box-shadow: 0px 4px rgba(0, 0, 0, .3);
}
.steve h2{
@include name(60px);
}
.tommy{
  background: url(../images/sk8er-2.png) no-repeat -340px center;
  height: 464px;
  border: 5px solid white;
  box-shadow: 0px 4px rgba(0, 0, 0, .3);
}
.tommy h2{
  padding-top: 150px;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}
@media (max-width:768px) {
  .skateboarder{
    height: 222px;
    margin: 0px 0%;
    padding: 0px 65px;
    width: 550px;
  }
  .steve{
  margin-top: -5px;
  }
  .steve h2{
    padding-top: 40px;
  }
  .tommy{
    height: 222px;
    margin-top: -10px;
    margin-left: 15px;
    margin-right: -15px;
    background: url(../images/sk8er-2.png) no-repeat right center;
  }
  .tommy h2{
    padding-top: 40px;
  }
  // .boarders{
  //   height: 1200px;

  // }
}


.boards{
    background-color: white;
    text-align: center;
    word-spacing: 20px;
    box-shadow: 0px 4px rgba(0, 0, 0, .3);
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.board{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
@media (max-width:768px) {
  .boards{
    transform: rotate(90deg);
    margin-right: 20px;
    box-shadow: 0px 0px rgba(0, 0, 0, 0);
  }
}

.form{
  background-color: white;
  color: black;
  margin-bottom: 20px;
  padding-bottom: 10px;
  box-shadow: 0px 4px rgba(0, 0, 0, .3);
}
.contact-us{
  font-size: 30px;
  padding-top: 50px;
  font-family: 'arial';
}
.text{
  font-size: 15px;
  margin-bottom: 15px;
  font-family: 'arial';
  word-spacing: 2px;
  letter-spacing: 1px;
}
.form-control{
  box-shadow: -3px -4px rgba(0, 0, 0, .3);
  border-radius: 0px;
}
.submit{
  background-color: rgb(183,	39,	49);
  color: white;
}
.facebook-b, .rss-b, .twitter-b, .youtube-b{
  font-size: 25px;
  background-color: grey;
  padding-right: 2px;
  margin-left: 6px;
}
@media (max-width:768px) {
  .form{
    width: 480px;
    margin-left: 40px;
  }
  .contact-us{
    font-size: 20px;
    padding-top: 20px;
  }
  .text{
    font-size: 12px;
  }
}
